@{
    var segurado = ViewBag.Segurado;
}

<div class="form-group m-r-20">
    <!--		Show Numbers Of Rows 		-->
    <select class="form-control" name="state" id="maxRows">
        <option value="5000">Show ALL Rows</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="70">70</option>
        <option value="100">100</option>
    </select>
</div>
<div col-md-12>
    <table class="table" style=" table-layout: fixed;" id="table-id">
        <tr>

            <th>
                Documento
            </th>
            <th>
                Seguradora
            </th>
            <th>
                Fechada
            </th>
            <th>
                InicioVigencia
            </th>
            <th>
                FimVigencia
            </th>
            <th>
                Ramo
            </th>
            <th>
                Modalidade
            </th>
        </tr>

        <tbody>
            @{ var i = 0; var count = 0;}
            @foreach (var item in ViewBag.Apolice)
            {
                i++;
                count++;

                DateTime iDate = item.Fechada;
                <tr>
                    <td>@item.nApolice</td>

                    <td id="@i">@item.Seguradora</td>

                    <td>@iDate.ToString("dd / MM / yyyy")</td>

                    @{ iDate = item.InicioVigencia;}
                    <td>@iDate.ToString("dd / MM / yyyy")</td>

                    @{ iDate = item.TerminoVigencia;}
                    <td>@iDate.ToString("dd / MM / yyyy")</td>

                    <td title="@item.Ramo"> <p class="truncate-3l">@item.Ramo</p></td>

                    <td title="@item.Modalidade"><p class="truncate-3l">@item.Modalidade</p></td>
                </tr>

            }

        </tbody>


    </table>
    <center>
        <div class='pagination-container centralizing'>
            <nav>
                <ul class="pagination">

                    <li data-page="prev">
                        <span> < <span class="sr-only">(current)</span></span>
                    </li>
                    <!--	Here the JS Function Will Add the Rows -->
                    <li data-page="next" id="prev">
                        <span> > <span class="sr-only">(current)</span></span>
                    </li>
                </ul>
            </nav>
        </div>
    </center>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src="~/Scripts/script.js"></script>

<script type="text/javascript">
    var count = @count;
    for (i = 1; i <= count; i++) {
        let text = document.getElementById(i).innerHTML;
        let short = text.split(' ')[0];
        document.getElementById(i).innerHTML = short;

    }

</script>

<div class="table-header">
    <strong class="col-md-6">Informações do Cliente</strong>
</div>
<div style="margin-top:20px;" class="col-md-12">
    <div class="col-md-1 label-side">
        <label for="name">Cliente</label>
        <label for="celular">Email</label>
        <label for="celular">Telefone</label>
        <label for="celular">Endereco</label>
        <label for="celular">UF</label>
    </div>
    <div class="col-md-6 input-side">
        <input class="form-control" type="text" name="name" id="name" value="@segurado.Nome" disabled />
        <div class="items">
            <input class="form-control" style=" width: 459px;" type="email" name="email" id="email" value="@segurado.Email" disabled />
            <div class="flex-auto">
                <label>Pessoal</label>
            </div>
        </div>
        <div class="items">
            <input class="form-control" type="tel" name="tel" id="tel" value="@segurado.Telefone" disabled />
            <label style="margin-left:5px;margin-right:5px;">Comercial</label>
            <input class="form-control" type="tel" name="tel" id="tel" value="" disabled />
            <div class="flex-auto">
                <label>Residencial</label>
            </div>
        </div>
        <div class="items">
            <input class="form-control" style="width:50px;" type="tel" name="tel" id="tel" value="" disabled />
            <label class="second-label">N°</label>
            <input class="form-control" type="tel" name="tel" id="tel" value="@segurado.Endereco" disabled />
        </div>
        <div class="items">
            <input class="form-control" type="text" name="comple" id="comple" value="@segurado.Cidade" disabled />
            <label class="second-label">Cidade</label>
            <input class="form-control" type="text" style="width:50px;" name="comple" id="comple" value="@segurado.UF" disabled />
        </div>
    </div>
    <div class="col-md-1 label-side">
        <label for="name">CNPJ</label>
        <label for="celular">Comercial</label>
        <label for="celular">Celular</label>
        <label for="celular">Complemento</label>
        <label for="celular">Bairro</label>
    </div>
    <div class="col-md-4 input-side">
        <div class="items">
            <input class="form-control" style="width:95px;" type="text" name="" id="" value="@DateTime.Today.Day / @DateTime.Today.Month / @DateTime.Today.Year" disabled />
            <label class="second-label">Fundação</label>
            <input class="form-control" type="text" name="" id="" value="@segurado.CNPJ" disabled />
        </div>
        <div class="items">
            <input class="form-control" type="email" name="email" id="email" value="@segurado.Email" disabled />
            <div class="flex-auto">
            </div>
        </div>
        <div class="items">
            <input class="form-control" type="tel" name="cel" id="cel" value="@segurado.Celular" disabled />
        </div>
        <div class="items">
            <input class="form-control" style="width:95px;" type="text" name="comple" id="comple" value="@segurado.CEP" disabled />
            <label class="second-label">CEP</label>
            <input class="form-control" type="text" name="comple" id="comple" value="@segurado.Complemento" disabled />
        </div>
        <div class="items">
            <input class="form-control" type="text" name="comple" id="comple" value="@segurado.Bairro" disabled />
        </div>
    </div>
</div>







