<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>@ViewBag.Title - Siste de Controle FacilityBond</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .navbar li:hover svg {
            fill: #08678C;
        }
        .navbar-nav > li > a {
            padding-bottom: 0!important;
        }
        .navbar-brand > a{
            text-decoration:none;
            color:#f2f2f2;
        }
            .navbar-brand > a:hover {
                color: #08678C;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-light navbar-fixed-top shadow-b">
        <div class="container">
            <div class="row">
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand ">
                        <a href="@Url.Action("Index","Home")" title="voltar para tela inicial">FACILITYBOND</a>
                    </div>
                </div>
                <div class="navbar-collapse collapse ">
                    <div class="centralizing">
                        <ul class="nav navbar-nav ">
                            

                            <li><a title="Clientes" href="@Url.Action("Clientes","Home")"><svg class="bi" width="25" height="25" fill="white"><use xlink:href="~/Content/bi.svg#person-fill"></use></svg></a></li>

                            @*<li>@Html.ActionLink("Clientes", "Clientes", "Home")</li>*@
                            @*<li>@Html.ActionLink("Sair", "Index", "Sair")</li>*@
                        </ul>
                    </div>
                    <!--perfil Usuario-->
                    <div class="user f-right navbar-header" >
                        <ul class="nav navbar-nav ">
                              <li><a title="Sair" href="@Url.Action("Index","Sair")"><svg class="bi" width="25" height="25" fill="white"><use xlink:href="~/Content/bi.svg#box-arrow-left"></use></svg></a></li>

                            @*<li>@Html.ActionLink("Clientes", "Clientes", "Home")</li>*@
                            @*<li>@Html.ActionLink("Sair", "Index", "Sair")</li>*@
                        </ul>

                    @*    <div class="personiddon">
                            <img class="img-responsive img-rounded" width="50" height="50" src="~/Content/img/person-default.jpg" />
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content shadow-b" >
        @RenderBody()
        <hr />
        <footer class="col-md-12">
            <p>&copy; @DateTime.Now.Year - Sistema Facility&Bond</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
