<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Siste de Controle FacilityBond</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-light navbar-fixed-top shadow-b">
        <div class="container">
            <div class="row">
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo navbar-brand ">
                        <img src="~/Content/img/fblogo.gif" class="img-responsive" />
                    </div>
                </div>
                <div class="navbar-collapse collapse ">
                    <div class="centralizing">
                        <ul class="nav navbar-nav ">
                            <li>@Html.ActionLink("Início", "Index", "Home")</li>
                            <li>@Html.ActionLink("Clientes", "Clientes", "Home")</li>
                        </ul>
                    </div>
                    <!--perfil Usuario-->
                    <div class="user f-right navbar-header">
                        <div class="personiddon">
                            <img class="img-responsive img-rounded" width="50" height="50" src="~/Content/img/person-default.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content shadow-b" style="background-color:#FFFFFF;">
        @RenderBody()
        <hr />
        <footer class="col-md-12">
            <p>&copy; @DateTime.Now.Year - Sistema Facility&Bond</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
