@model IEnumerable<SistemaFB.Models.Contatos>

<!--   Partial View para carregar os dados do cliente na Home/Clientes   -->
<table class="table table-hover" id="table-id">
    <tr>
        <th>
            Cod
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apolices)
        </th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.v1)
                </td>
                <td>
                    <a href="/Segurado/Contato/@item.v1">
                        @Html.DisplayFor(modelItem => item.v2)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.v3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.v4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.v5)
                </td>
            </tr>
        }
    </tbody>
</table>
<center>
    <div class='pagination-container centralizing'>
        <nav>
            <ul class="pagination">

                <li data-page="prev">
                    <span> < <span class="sr-only">(current)</span></span>
                </li>
                <!--	Here the JS Function Will Add the Rows -->
                <li data-page="next" id="prev">
                    <span> > <span class="sr-only">(current)</span></span>
                </li>
            </ul>
        </nav>
    </div>
</center>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src="~/Scripts/script.js"></script>




