@{
    ViewBag.Title = "Clientes";
    
}


<table class="table table-hover">
    <div class="table-header">
        <strong class="col-md-9">Consulta de Clientes</strong>
        <form action="/Home/PesquisarCliente" method="post">
            <div class="input-group" style="margin-bottom:20px;">
                <span class="input-group-addon" id="sizing-addon2"><a href="#"><svg class="bi" width="15" height="15" fill="currentColor"><use xlink:href="~/Content/bi.svg#search"></use></svg></a></span>
                <input type="text" class="form-control" id="login" name="login" placeholder="Pesquisar" aria-describedby="sizing-addon2">
            </div>

        </form>

    </div>
    <tr>
        <th scope="col">Cod</th>
        <th scope="col">Segurado</th>
        <th scope="col">CNPJ</th>

        <th scope="col">Celular</th>
        <th scope="col">Apolices</th>


    </tr>


    @{ foreach (var item in ViewBag.lista)
        {
        <tr>
            <td><strong>@item.Id</strong> </td>
            <td><a>@item.Segurado</a></td>
            <td><strong>@item.CNPJ</strong></td>
            <td><strong>@item.Celular</strong> </td>
            <td><strong>@item.Apolices</strong> </td>
           
        </tr>

        }

    }
</table>
<div class="col-md-12">
    <center>
        <nav aria-label="Page navigation centralizing">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </center>
   
</div>



<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>