@{
    ViewBag.Title = "Clientes";
    
}

<h3>Clientes</h3>

<table class="table table-hover">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Segurado</th>
        <th scope="col">CNPJ/CPF</th>       
        <th scope="col">Endereco</th>
        <th scope="col">CEP</th>
        <th scope="col">UF</th>
        <th scope="col">Cidade</th>
        <th scope="col">Bairro</th>
    </tr>

    @{ foreach (var item in ViewBag.lista)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nome</td>
            <td>@item.CNPJ</td>
            
            <td>@item.Endereco</td>
           
        
            <td>@item.CEP</td>
            <td>@item.UF</td>
            <td>@item.Cidade</td>
            <td>@item.Bairro</td>
        </tr>        
            }

    }
</table>
<div class="col-md-12">
    <center>
        <nav aria-label="Page navigation centralizing">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </center>
   
</div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>