@{
    var apolice = ViewBag.Apolice;
}
<label>Cliente</label>
<input type="text" value="@apolice.ClienteNome"/>
<label>Seguradora</label>
<input type="text" value="@apolice.Seguradora" />
<label>Produtor</label>
<input type="text" value="@apolice.ProdutorNome" />
<label>Ramo</label>
<input type="text" value="@apolice.Ramo" />
<label>Fechada</label>
<input type="text" value="@apolice.Fechada" />
<label>Protocolada</label>
<input type="text" value="@apolice.Protocolada" />
<label>Emitida</label>
<input type="text" value="@apolice.Emitida" />
<label>Fisico Recebido</label>
<input type="text" value="@apolice.FisicoRecebido" />
<label>Inicio de Vigência</label>
<input type="text" value="@apolice.InicioVigencia" />
<label>Fim de vigência</label>
<input type="text" value="@apolice.TerminoVigencia" />
<label>N° Apolice</label>
<input type="text" value="@apolice.nApolice" />
<label>CI </label>
<input type="text" value="@apolice.CI" />
<label>Cia Anterior</label>
<input type="text" value="@apolice.CiaAnterior" />
<label>Valor em Risco</label>
<input type="text" value="@apolice.ValorEmRisco" />
<label>Premio Líquido</label>
<input type="text" value="@apolice.PremioLiquido" />
<label>IOF</label>
<input type="text" value="@apolice.IOF" />
<label>Premio Total</label>
<input type="text" value="@apolice.PremioTotal" />
<label>Fracionamento</label>
<input type="text" value="@apolice.Fracionamento" />
<label>Custo da Apólice</label>
<input type="text" value="@apolice.CustoApolice" />
<label>Comissão</label>
<input type="text" value="@apolice.Comissao" />
